@page "/FinalizarPicking"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Picking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
   

    <!-- Content -->
    <div class="content">
        <!-- Button Row -->
        <div class="button-row">
            <button class="action-button">F1 Det.</button>
            <button class="action-button">F2 Consultas</button>
            <button class="action-button">MAIS</button>
        </div>

        <!-- Form Section -->
        <div class="form-grid">
            <div class="form-group">
                <label for="ucsrea">UCsRea</label>
                <input id="ucsrea" type="text" class="input-field" value="4">
            </div>
            <div class="form-group">
                <label for="pd-des">PD des</label>
                <input id="pd-des" type="text" class="input-field" value="5100">
            </div>
            <div class="form-group">
                <label for="gnrl-belt">GNRL</label>
                <input id="gnrl-belt" type="text" class="input-field" value="BELT">
            </div>
            <div class="form-group">
                <label for="ucdest">UCDest</label>
                <input id="ucdest" type="text" class="input-field" value="10">
            </div>
            <div class="form-group">
                <label for="uc">UC</label>
                <input id="uc" type="text" class="input-field" value="9000301662">
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input id="weight" type="text" class="input-field" value="0.210">
            </div>
            <div class="form-group">
                <label for="unit">KG</label>
                <input id="unit" type="text" class="input-field" value="0.21">
            </div>
        </div>

        <!-- Bottom Buttons -->
        <div class="button-row">
            <button class="action-button">F3 DetIUC</button>
            <button class="action-button">F4 LisTD</button>
        </div>
    </div>
</body>
</html>


@code {

}
