@page "/Home"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="content">
    <div class="form-group">
        <button class="action-button">Separar</button>
        <button class="action-button">Alimentar</button>
    </div>

</div>


